.Game-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.Game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0 1em 0;
}
.Game-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 0 0;
}
  
.Game-link {
  color: #61dafb;
 }
  
  
.text-header {
  text-align: center;
  font-family: Ravie;
  color: rgb(189, 125, 125);
  font-size: 50px;
  font-weight: bold;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row-ai:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-row-humman {
    clear: both;
    content: "";
    display: table;
    margin-left: 4em;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    border-radius: 0px;
    font-family: Ravie;
    background-image: url('../images/square-background.png') ;
    background-size: cover;
  }
  /* Màng hình laptop hoặc desktop lớn*/
  @media (min-width: 1200px) {
      .square{
        font-size: 24px;
        line-height: 20px;
        width: 32px;
        height: 32px;
      }
  }

  /* Màng hình máy tính bảng lớn hoặc máy tính màng hình trung bình */
  @media (min-width: 992px) and (max-width: 1199px) {
      .square{
        font-size: 22px;
        line-height: 20px;  
        width: 30px;
        height: 30px;
      }
  }

  /* Màng hình máy tính bảng nhỏ hoặc máy tính màng hình nhỏ */
  @media (min-width: 768px) and (max-width: 991px) {
    .square{
      font-size: 20px;
      line-height: 18px;  
      width: 22px;
      height: 22px;
    }
  }

  /* Màng hình máy tính bảng rất nhỏ hoặc điện thoại di động */
  @media (min-width: 400px) and (max-width: 767px) {
    .square{
      font-size: 14px;
      line-height: 10px;  
      width: 16px;
      height: 16px;
    }
  }

  /* Điện thoại di động hoặc màng hình cực nhỏ */
  @media (max-width: 399px) {
    .square{
      font-size: 10px;
      line-height: 8px;  
      width: 12px;
      height: 12px;
    }
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  button.square[data-pro="X"] {
    color: red;
    }
    
  button.square[data-pro="O"] {
    color: blue;
  }
  button.square.bold{
    background-image: none;
    background-color: rgb(198, 211, 11);
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  hr{
    visibility: hidden;
  }
  button.play{
    background-color: rgb(172, 57, 22); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width: 120px;
  }
  button.play-again{
    padding: 10px 10px;
    width: 80px;
  }

  

  button.btnPlayAgain:hover{
    background:rgb(172, 57, 22);
  }
 

  button.step{
    background-color: rgb(79, 94, 165); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width: 200px;
  }
  button.step:hover{
    background: rgb(79, 94, 165);
  }

  
 button.step.selected{
   background-color: rgb(141, 131, 43); 
 }
 .scrollbar {
  float: left;
  height: 495px;
  width: 260px;
  background: transparent;
  overflow-y: auto;
  margin-bottom: 25px;
}
.force-overflow {
  min-height: 450px;
}
.scrollbar-success::-webkit-scrollbar-track {
  box-shadow: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  box-shadow: transparent;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851;
}

.list-group-custom{
  background: transparent;
}
.align-col{
  text-align: center;
}

.custom-container-game{
  text-align: center;
}
.custom-col-game{
  color: white;
}
button.humman{
  background-color: rgb(172, 57, 22); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 150px;
}

.custom-Accordion-room {
  background-color: rgb(172, 57, 22); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 150px;
}
.custom-card-room {
  background-color: transparent;
  border-radius: 0px transparent;
}
.custom-button-send {
  width: 50px;
  font-size: 10px;
}

.custom-toast-room{
  color: black;
}
