body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../images/background-2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

 /* Toastly */
 .toast {
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0; }
  .toast:not(:last-child) {
    margin-bottom: 0.75rem; }
  .toast.showing {
    opacity: 1; }
  .toast.show {
    display: block;
    opacity: 1; }
  .toast.hide {
    display: none; }

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.toast-body {
  padding: 0.75rem; }

  .toast {
    max-width: 350px;
    overflow: hidden;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0; }
    .toast:not(:last-child) {
      margin-bottom: 0.75rem; }
    .toast.showing {
      opacity: 1; }
    .toast.show {
      display: block;
      opacity: 1; }
    .toast.hide {
      display: none; }
  
  .toast-header {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  
  .toast-body {
    padding: 0.75rem; }
  
    .Toastify__toast-container {
      z-index: 9999;
      position: fixed;
      padding: 0;
      width: 320px;
      box-sizing: border-box;
      color: #fff; }
      .Toastify__toast-container--top-left {
        top: 1rem;
        left: 1rem; }
      .Toastify__toast-container--top-center {
        top: 1rem;
        left: 50%;
        margin-left: -160px; }
      .Toastify__toast-container--top-right {
        top: 1rem;
        right: 1rem; }
      .Toastify__toast-container--bottom-left {
        bottom: 1rem;
        left: 1rem; }
      .Toastify__toast-container--bottom-center {
        bottom: 1rem;
        left: 50%;
        margin-left: -160px; }
      .Toastify__toast-container--bottom-right {
        bottom: 1rem;
        right: 1rem; }
    
    @media only screen and (max-width: 480px) {
      .Toastify__toast-container {
        width: 100vw;
        padding: 0;
        left: 0;
        margin: 0; }
        .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
          top: 0; }
        .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
          bottom: 0; }
        .Toastify__toast-container--rtl {
          right: 0;
          left: initial; } }
    .Toastify__toast {
      position: relative;
      min-height: 54px;
      box-sizing: border-box;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 0.25rem;
      box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
      display: flex;
      justify-content: space-between;
      max-height: 800px;
      overflow: hidden;
      font-family: sans-serif;
      cursor: pointer;
      direction: ltr; }
      .Toastify__toast--rtl {
        direction: rtl; }
      .Toastify__toast--default {
        background: #fff;
        color: #495057;
        box-shadow: 0 0.66875rem 2.3875rem rgba(3, 60, 115, 0.03), 0 1.1375rem 1.60625rem rgba(3, 60, 115, 0.03), 0 0.45rem 0.73125rem rgba(3, 60, 115, 0.05), 0 0.325rem 0.3875rem rgba(3, 60, 115, 0.03); }
      .Toastify__toast--info {
        background: #2FA4E7;
        box-shadow: 0 0.66875rem 2.3875rem rgba(47, 164, 231, 0.03), 0 1.1375rem 1.60625rem rgba(47, 164, 231, 0.03), 0 0.45rem 0.73125rem rgba(47, 164, 231, 0.05), 0 0.325rem 0.3875rem rgba(47, 164, 231, 0.03); }
      .Toastify__toast--success {
        background: #73A839;
        box-shadow: 0 0.66875rem 2.3875rem rgba(115, 168, 57, 0.03), 0 1.1375rem 1.60625rem rgba(115, 168, 57, 0.03), 0 0.45rem 0.73125rem rgba(115, 168, 57, 0.05), 0 0.325rem 0.3875rem rgba(115, 168, 57, 0.03); }
      .Toastify__toast--warning {
        background: #DD5600;
        box-shadow: 0 0.66875rem 2.3875rem rgba(221, 86, 0, 0.03), 0 1.1375rem 1.60625rem rgba(221, 86, 0, 0.03), 0 0.45rem 0.73125rem rgba(221, 86, 0, 0.05), 0 0.325rem 0.3875rem rgba(221, 86, 0, 0.03); }
      .Toastify__toast--error {
        background: #C71C22;
        box-shadow: 0 0.66875rem 2.3875rem rgba(199, 28, 34, 0.03), 0 1.1375rem 1.60625rem rgba(199, 28, 34, 0.03), 0 0.45rem 0.73125rem rgba(199, 28, 34, 0.05), 0 0.325rem 0.3875rem rgba(199, 28, 34, 0.03); }
      .Toastify__toast-body {
        margin: auto 0;
        padding: 0 0 0.4rem; }
    
    @media only screen and (max-width: 480px) {
      .Toastify__toast {
        margin-bottom: 0; } }
    .Toastify__close-button {
      color: #fff;
      font-size: 14px;
      background: transparent;
      outline: none;
      border: none;
      padding: 0;
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s ease;
      position: absolute;
      top: 5px;
      right: 9px; }
      .Toastify__close-button--default {
        color: #000;
        opacity: 0.3; }
      .Toastify__close-button:hover, .Toastify__close-button:focus {
        opacity: 1; }
    
    @keyframes Toastify__trackProgress {
      0% {
        width: 96%; }
      100% {
        width: 0; } }
    .Toastify__progress-bar {
      position: absolute;
      bottom: 9%;
      left: 2%;
      width: 0;
      height: 5px;
      z-index: 9999;
      animation: Toastify__trackProgress linear 1;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.25rem; }
      .Toastify__progress-bar--rtl {
        right: 0;
        left: initial; }
      .Toastify__progress-bar--default {
        background: #033C73; }
    
    @keyframes Toastify__bounceInRight {
      from,
        60%,
        75%,
        90%,
        to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0); }
      60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0); }
      75% {
        transform: translate3d(10px, 0, 0); }
      90% {
        transform: translate3d(-5px, 0, 0); }
      to {
        transform: none; } }
    @keyframes Toastify__bounceOutRight {
      20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0); }
      to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0); } }
    @keyframes Toastify__bounceInLeft {
      from,
        60%,
        75%,
        90%,
        to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0); }
      60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0); }
      75% {
        transform: translate3d(-10px, 0, 0); }
      90% {
        transform: translate3d(5px, 0, 0); }
      to {
        transform: none; } }
    @keyframes Toastify__bounceOutLeft {
      20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0); }
      to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0); } }
    @keyframes Toastify__bounceInUp {
      from,
        60%,
        75%,
        90%,
        to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0); }
      60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0); }
      75% {
        transform: translate3d(0, 10px, 0); }
      90% {
        transform: translate3d(0, -5px, 0); }
      to {
        transform: translate3d(0, 0, 0); } }
    @keyframes Toastify__bounceOutUp {
      20% {
        transform: translate3d(0, -10px, 0); }
      40%,
        45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0); }
      to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0); } }
    @keyframes Toastify__bounceInDown {
      from,
        60%,
        75%,
        90%,
        to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0); }
      60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0); }
      75% {
        transform: translate3d(0, -10px, 0); }
      90% {
        transform: translate3d(0, 5px, 0); }
      to {
        transform: none; } }
    @keyframes Toastify__bounceOutDown {
      20% {
        transform: translate3d(0, 10px, 0); }
      40%,
        45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0); }
      to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0); } }
    .Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
      animation-name: Toastify__bounceInLeft; }
    .Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
      animation-name: Toastify__bounceInRight; }
    .Toastify__bounce-enter--top-center {
      animation-name: Toastify__bounceInDown; }
    .Toastify__bounce-enter--bottom-center {
      animation-name: Toastify__bounceInUp; }
    
    .Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
      animation-name: Toastify__bounceOutLeft; }
    .Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
      animation-name: Toastify__bounceOutRight; }
    .Toastify__bounce-exit--top-center {
      animation-name: Toastify__bounceOutUp; }
    .Toastify__bounce-exit--bottom-center {
      animation-name: Toastify__bounceOutDown; }
    
    @keyframes Toastify__zoomIn {
      from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3); }
      50% {
        opacity: 1; } }
    @keyframes Toastify__zoomOut {
      from {
        opacity: 1; }
      50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3); }
      to {
        opacity: 0; } }
    .Toastify__zoom-enter {
      animation-name: Toastify__zoomIn; }
    
    .Toastify__zoom-exit {
      animation-name: Toastify__zoomOut; }
    
    @keyframes Toastify__flipIn {
      from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0; }
      40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in; }
      60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1; }
      80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
      to {
        transform: perspective(400px); } }
    @keyframes Toastify__flipOut {
      from {
        transform: perspective(400px); }
      30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1; }
      to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0; } }
    .Toastify__flip-enter {
      animation-name: Toastify__flipIn; }
    
    .Toastify__flip-exit {
      animation-name: Toastify__flipOut; }
    
    @keyframes Toastify__slideInRight {
      from {
        transform: translate3d(110%, 0, 0);
        visibility: visible; }
      to {
        transform: translate3d(0, 0, 0); } }
    @keyframes Toastify__slideInLeft {
      from {
        transform: translate3d(-110%, 0, 0);
        visibility: visible; }
      to {
        transform: translate3d(0, 0, 0); } }
    @keyframes Toastify__slideInUp {
      from {
        transform: translate3d(0, 110%, 0);
        visibility: visible; }
      to {
        transform: translate3d(0, 0, 0); } }
    @keyframes Toastify__slideInDown {
      from {
        transform: translate3d(0, -110%, 0);
        visibility: visible; }
      to {
        transform: translate3d(0, 0, 0); } }
    @keyframes Toastify__slideOutRight {
      from {
        transform: translate3d(0, 0, 0); }
      to {
        visibility: hidden;
        transform: translate3d(110%, 0, 0); } }
    @keyframes Toastify__slideOutLeft {
      from {
        transform: translate3d(0, 0, 0); }
      to {
        visibility: hidden;
        transform: translate3d(-110%, 0, 0); } }
    @keyframes Toastify__slideOutDown {
      from {
        transform: translate3d(0, 0, 0); }
      to {
        visibility: hidden;
        transform: translate3d(0, 500px, 0); } }
    @keyframes Toastify__slideOutUp {
      from {
        transform: translate3d(0, 0, 0); }
      to {
        visibility: hidden;
        transform: translate3d(0, -500px, 0); } }
    .Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
      animation-name: Toastify__slideInLeft; }
    .Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
      animation-name: Toastify__slideInRight; }
    .Toastify__slide-enter--top-center {
      animation-name: Toastify__slideInDown; }
    .Toastify__slide-enter--bottom-center {
      animation-name: Toastify__slideInUp; }
    
    .Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
      animation-name: Toastify__slideOutLeft; }
    .Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
      animation-name: Toastify__slideOutRight; }
    .Toastify__slide-exit--top-center {
      animation-name: Toastify__slideOutUp; }
    .Toastify__slide-exit--bottom-center {
      animation-name: Toastify__slideOutDown; }
    

  /* ------------ */
  .header-btn-lg {
    display: flex;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 255, 0.8); 
   }

  .widget-content .widget-numbers {
    font-size: 1.6rem;
    line-height: 1; 
  }
  .widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center; 
  }
  .widget-content-left{
    color: rgba(255, 255, 255, 0.8);
  }

  .color-black{
    color: #000;
  }
  .margin-top-6em{
    margin-top: 6em;
  }
  .text-align{
    text-align: center;
  }
  .custom-image-info {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .custom-form-file-group {
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .btn-upload {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #033C73;;
    height: 35px;
    margin-left: 0.5em;
    font-size: .8rem;
  }
  .btn-update{
    width: 120px;
  }

  .margin-top--4em{ 
    margin-top: -4em;
  }
  .float-right {
    float: right !important;
  }