/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

.agile-login {
    float: left;
    width: 50%;
    text-align: center;
}
.agile-login ul li {
    display: inline-block;
    padding: 0em 1em;
}
.agile-login ul li a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}


.login h2,.register h2{
	text-align:center;
	color:#ffffff;
	padding-bottom:.5em;
	position:relative;
	font-size: 2.5em;
	text-transform: uppercase;
}
.login h2:after,.register h2:after{
	content: '';
    background: #3399cc;
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 0%;
    left: 43%;
}

/*-- login --*/
.login-form-grids{
	width: 27%;
    padding: 3em;
	background:#F7F7F9;
    margin:3em auto 0;
    border-radius: 8px;
}

.login-form-grids input[type="email"],.login-form-grids input[type="password"],.login-form-grids input[type="text"]{
	outline: none;
    border: 1px solid #DBDBDB;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    border-radius: 8px;
}
.login-form-grids input[type="text"]{
	margin:1em 0 0;
}
.login-form-grids input[type="password"]{
	margin:1em 0 0;
}
.login-form-grids input[type="email"]{
	margin:1em 0 0;
}
.login-form-grids select{
    margin:1em -1em 1em;
    border-radius: 8px;
}
.forgot {
    margin: 1.5em 0 0;
}
.login-form-grids button[type="submit"]{
	outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    display: block;
    width: 100%;
    margin: 1.5em 0 0;
    border-radius: 8px;
}
.login-form-grids button[type="submit"]:hover{
    background:#cf2520;
    
}
.login-form-grids ::-webkit-button-placeholder{
	color:#999;
}
.forgot a{
	color:#212121;
	font-size:14px;
	text-decoration:none;
}
.forgot a:hover{
	color:#cf2520;
}
.login h4{
	margin: 2em 0 0.5em;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.login p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	margin:0;
	text-align:center;
}
.login p a{
	color:#fe9126;
	text-decoration:none;
	font-size: 1.2em;
	padding: 0 .5em;
}
.login p a:hover{
	color:#212121;
}
.login p a span{
	top: 0.1em;
    font-size: .7em;
    left: 0.3em;
}
.login {
    color: black;
    padding: 5em 0;
    margin: 6em 1.1em 0 0;
}

/*-- //login --*/
/*-- register --*/
.register {
    padding: 2em 0;
}
.login-form-grids h5,.login-form-grids h6{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	margin:0 0 2em;
}
.login-form-grids input[type="text"]{
	background: no-repeat 5px -259px #fff;
}
.login-form-grids input[type="text"]:nth-child(2){
	background: no-repeat 0px -298px #fff;
	margin:1em 0;
}
.register-check-box label{
	font-size:14px;
	font-weight:500;
	color:rgb(0, 0, 0);
	margin: 1.5em 0 0 0em;
}
.checkbox {
    position: relative;
	padding-left: 38px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    outline: none;
    border: 2px solid #EDEDED;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    top: 0px;
    left: 2px;
    width: 16px;
    height: 16px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.login-form-grids h6{
	margin:3em 0 2em !important;
}
.login-form-grids input[type="password"]:nth-child(3) {
    margin:1em 0;
}
.register-home{
	margin:1em 0 0;
    text-align:center;
}
.register-home a{
	padding: 8px 45px;
    background: rgb(247, 181, 0);
	color:rgb(31, 26, 14);
	font-size:1em;
    text-decoration:none;
    border-radius: 8px;
}
.register-home a:hover{
	background:#fe9126;
}
/*-- //register --*/

.login h2, .register h2{
    font-size: 2em;
}


@media (max-width: 1024px){

}
@media (max-width: 991px){

.agile-login {
    padding: 6px 0;
}



.login-form-grids {
    width: 65%;
}
.login h4 {
    font-size: 1.3em;
}

}
@media (max-width:800px){
}
@media (max-width: 768px){

.login {
    padding: 3em 0;
}



.agile-login {
    width: 37%;
}

.agile-login ul li {
    padding: 0em 0.4em;
}

.login-form-grids {
    width: 71%;
}

.agile-login {
    width: 38%;
}

.login-form-grids {
    width: 76%;
}
.agile-login {
    width: 40%;
}



.agile-login {
    width: 43%;
}

.agile-login {
    width: 50%;
}
.login h2, .register h2{
    font-size: 1.7em;
}


.agile-login {
    width: 67%;
}

.login-form-grids {
    width: 95%;
}


}


.agile-login {
    width: 79%;
}


.login h2, .register h2{
    font-size: 1.4em;
}


.login-form-grids {
    margin: 2em auto 0;
}
.login-form-grids {
    padding: 1.2em;
}

.login {
    padding: 2em 0;
}
.login p a {
    font-size: 1em;
}
.jumbotron{
    background: transparent;
    height: 1px;
}




/*-- info --*/
.info-form-grids{
    padding: 3em;
	background:#F7F7F9;
    margin:3em auto 0;
    border-radius: 8px;
}
 /* Màng hình laptop hoặc desktop lớn*/
 @media (min-width: 1200px) {
    .info-form-grids{
        width: 50%;
    }
}

/* Màng hình máy tính bảng lớn hoặc máy tính màng hình trung bình */
@media (min-width: 992px) and (max-width: 1199px) {
    .info-form-grids{
        width: 60%;
    }
}

/* Màng hình máy tính bảng nhỏ hoặc máy tính màng hình nhỏ */
@media (min-width: 768px) and (max-width: 991px) {
  .info-form-grids{
    width: 80%;
  }
}

/* Màng hình máy tính bảng rất nhỏ hoặc điện thoại di động */
@media (min-width: 400px) and (max-width: 767px) {
  .info-form-grids{
    width: 100%;
  }
}

/* Điện thoại di động hoặc màng hình cực nhỏ */
@media (max-width: 399px) {
  .info-form-grids{
    width: 100%;
  }
}