.custom-text{
  color: black;
}
.custom-text:hover{
  color: deepskyblue;
}
.custom-button{
  margin-left: 1em;
}

@media (max-width: 990px) {
  .custom-button-top{
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
